<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>班级信息</title>
</head>
<body>
    <textarea class="column " style="height: 671px; width: 418px;" id="editor1"
                placeholder="给一个JSON字符串，然后会自动格式化" spellcheck="false" name="jstr">{{ redata.jstr }}</textarea>
            <textarea id="editor2" style="height: 671px; width: 418px;" class="clumn " placeholder="key值"
                name="jstr1">{{ redata.res2 }}</textarea>
            <textarea id="editor3" style="height: 671px; width: 418px;" class="clumn " placeholder="value值"
                name="jstr2">{{ redata.res3 }}</textarea>
</body>
</html>